
<main>
    <p>User Details</p>
    
       <div>Username :  {{user.username}} </div>
        <div> First Name : {{user.firstName}} </div>
        <div>Last Name : {{user.lastName}} </div>
        <div> Profession : {{user.profession}} </div>
        <div> Bio : {{user.bio}} </div>
    

    <form method="POST" action="/logout" id="logout-form">
            <button type="submit" class="btn-style">Logout</button>
    </form>
</main>