<title>
    Person Found
</title>
<h1>Person Found</h1>
<h2 class="h2-details">{{person.firstName}} {{person.lastName}}</h2>

<dl class="details">
  <dt class="details">ID</dt>
  <dd class="details">{{person.id}}</dd>
  <dt class="details">First Name</dt>
  <dd class="details">{{person.firstName}}</dd>
  <dt class="details">Last Name</dt>
  <dd class="details">{{person.lastName}}</dd>
  <dt class="details">Address</dt>
  <dd class="details">{{person.address}}</dd>
  <dt class="details">Zip Code</dt>
  <dd class="details">{{person.zip}}</dd>
  <dt class="details">Phone</dt>
  <dd class="details">{{person.phone}}</dd>
  <dt class="details">Social Security Number</dt>
  <dd class="details">{{person.ssn}}</dd>
</dl> 